.title{
    font-family: cursive;
}

.body{
    background-color: blanchedalmond;
}

.main{
    background-color: blanchedalmond;
}

h1{
    text-align: left;
    font-family: cursive;
    background-color: whitesmoke;
}

.button1, 
.button2,
.button3{
    font-size: medium;
    border-radius: 35px;
    padding: 2px 25px;
}

.button1{
    background-color: gold;
}

.button2{
    background-color: yellow;
}

.button3{
    background-color: orange;
}

.buttonp1{
    background-color: goldenrod;
}

.buttontoppage{
    background-color: goldenrod;
}